@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var className = Model.Customers.Count > 5 ? "popular" : null;
}
<h2 class="@className">@Model.Movie.Name</h2>
@if (Model.Customers.Count == 0)
{
    <text>No one has rented this movie</text>
}
else
{
<ul class="list-group">
    @foreach (var customer in Model.Customers)
    {
        <li class="list-group-item">@customer.Name</li>
    }
</ul>
}
